.container-title {
  text-align: center;
  font-size: 14pt;
}

.container {
  margin-top: 20px;
}

.container-content {
  margin-top: 25px;
  padding: 0 60px 0 60px;
}

.container-content-part {
  font-size: 12pt;
  color: #353535;
  line-height: 12px;
  letter-spacing: 0.5px;
}
